src/wsdl/localhost_8080/PaymentService/PaymentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="PaymentService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/PaymentService/PaymentService?xsd=1"/>
</xsd:schema>
</types>
<message name="addPayment">
<part name="parameters" element="tns:addPayment"/>
</message>
<message name="addPaymentResponse">
<part name="parameters" element="tns:addPaymentResponse"/>
</message>
<message name="getPayments">
<part name="parameters" element="tns:getPayments"/>
</message>
<message name="getPaymentsResponse">
<part name="parameters" element="tns:getPaymentsResponse"/>
</message>
<message name="clearPayments">
<part name="parameters" element="tns:clearPayments"/>
</message>
<message name="clearPaymentsResponse">
<part name="parameters" element="tns:clearPaymentsResponse"/>
</message>
<portType name="PaymentService">
<operation name="addPayment">
<input wsam:Action="http://ejb/PaymentService/addPaymentRequest" message="tns:addPayment"/>
<output wsam:Action="http://ejb/PaymentService/addPaymentResponse" message="tns:addPaymentResponse"/>
</operation>
<operation name="getPayments">
<input wsam:Action="http://ejb/PaymentService/getPaymentsRequest" message="tns:getPayments"/>
<output wsam:Action="http://ejb/PaymentService/getPaymentsResponse" message="tns:getPaymentsResponse"/>
</operation>
<operation name="clearPayments">
<input wsam:Action="http://ejb/PaymentService/clearPaymentsRequest" message="tns:clearPayments"/>
<output wsam:Action="http://ejb/PaymentService/clearPaymentsResponse" message="tns:clearPaymentsResponse"/>
</operation>
</portType>
<binding name="PaymentServicePortBinding" type="tns:PaymentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPayments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clearPayments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PaymentService">
<port name="PaymentServicePort" binding="tns:PaymentServicePortBinding">
<soap:address location="http://localhost:8080/PaymentService/PaymentService"/>
</port>
</service>
</definitions>