src/wsdl/localhost_8080/PaymentService/PaymentService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="addPayment" type="tns:addPayment"/>

<xs:element name="addPaymentResponse" type="tns:addPaymentResponse"/>

<xs:element name="clearPayments" type="tns:clearPayments"/>

<xs:element name="clearPaymentsResponse" type="tns:clearPaymentsResponse"/>

<xs:element name="getPayments" type="tns:getPayments"/>

<xs:element name="getPaymentsResponse" type="tns:getPaymentsResponse"/>

<xs:complexType name="addPayment">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
<xs:element name="project" type="xs:long"/>
<xs:element name="amount" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPaymentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clearPayments">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="clearPaymentsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPayments">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPaymentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:payment" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="payment">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="project" type="xs:long"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>